In [72]:
import pandas as pd

In [73]:
ruta = "../../data/tviaje.csv"  # Ruta externa por el peso del archivo

data = pd.read_csv(ruta)
data.head()

,id_via,id_soc,p5_3,n_via,p5_6,p5_7_6,p5_7_7,dto_origen,p5_9_1,p5_9_2,...,p5_27_6,p5_27_7,p5_27_8,estrato,factor,upm_dis,est_dis,tloc,sexo,edad
0,2936,1268,1,1,1,15,9,2,8,0,...,0,0,0,3,244,87,40,1,2,26
1,2937,1268,1,2,3,16,9,16,14,0,...,0,0,0,3,244,87,40,1,2,26
2,2938,1268,2,1,1,15,9,2,17,0,...,0,0,0,3,244,87,40,1,2,26
3,2939,1268,2,2,7,15,9,2,23,0,...,0,0,0,3,244,87,40,1,2,26
4,2940,1269,1,1,1,15,9,2,8,0,...,0,0,0,3,244,87,40,1,2,22

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531594 entries, 0 to 531593
Data columns (total 82 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_via      531594 non-null  int64
 1   id_soc      531594 non-null  int64
 2   p5_3        531594 non-null  int64
 3   n_via       531594 non-null  int64
 4   p5_6        531594 non-null  int64
 5   p5_7_6      531594 non-null  int64
 6   p5_7_7      531594 non-null  int64
 7   dto_origen  531594 non-null  int64
 8   p5_9_1      531594 non-null  int64
 9   p5_9_2      531594 non-null  int64
 10  p5_10_1     531594 non-null  int64
 11  p5_10_2     531594 non-null  int64
 12  p5_11a      531594 non-null  int64
 13  p5_12_6     531594 non-null  int64
 14  p5_12_7     531594 non-null  int64
 15  dto_dest    531594 non-null  int64
 16  p5_13       531594 non-null  int64
 17  p5_14_01    531594 non-null  int64
 18  p5_15_01    531594 non-null  int64
 19  p5_14_02    531594 non-null  int64
 20  p5_15_02    531594 non-null  int64
 21  p5_14_03    531594 non-null  int64
 22  p5_15_03    531594 non-null  int64
 23  p5_14_04    531594 non-null  int64
 24  p5_15_04    531594 non-null  int64
 25  p5_14_05    531594 non-null  int64
 26  p5_15_05    531594 non-null  int64
 27  p5_14_06    531594 non-null  int64
 28  p5_15_06    531594 non-null  int64
 29  p5_14_07    531594 non-null  int64
 30  p5_15_07    531594 non-null  int64
 31  p5_14_08    531594 non-null  int64
 32  p5_15_08    531594 non-null  int64
 33  p5_14_09    531594 non-null  int64
 34  p5_15_09    531594 non-null  int64
 35  p5_14_10    531594 non-null  int64
 36  p5_15_10    531594 non-null  int64
 37  p5_14_11    531594 non-null  int64
 38  p5_15_11    531594 non-null  int64
 39  p5_14_12    531594 non-null  int64
 40  p5_15_12    531594 non-null  int64
 41  p5_14_13    531594 non-null  int64
 42  p5_15_13    531594 non-null  int64
 43  p5_14_14    531594 non-null  int64
 44  p5_15_14    531594 non-null  int64
 45  p5_14_15    531594 non-null  int64
 46  p5_15_15    531594 non-null  int64
 47  p5_14_16    531594 non-null  int64
 48  p5_15_16    531594 non-null  int64
 49  p5_14_17    531594 non-null  int64
 50  p5_15_17    531594 non-null  int64
 51  p5_14_18    531594 non-null  int64
 52  p5_15_18    531594 non-null  int64
 53  p5_14_19    531594 non-null  int64
 54  p5_15_19    531594 non-null  int64
 55  p5_14_20    531594 non-null  int64
 56  p5_15_20    531594 non-null  int64
 57  p5_18       531594 non-null  int64
 58  p5_19       531594 non-null  int64
 59  p5_20       531594 non-null  int64
 60  p5_21_1     531594 non-null  int64
 61  p5_21_2     531594 non-null  int64
 62  p5_22       531594 non-null  int64
 63  p5_23       531594 non-null  int64
 64  p5_24       531594 non-null  int64
 65  p5_25       531594 non-null  int64
 66  p5_26       531594 non-null  int64
 67  p5_27_1     531594 non-null  int64
 68  p5_27_2     531594 non-null  int64
 69  p5_27_3     531594 non-null  int64
 70  p5_27_4     531594 non-null  int64
 71  p5_27_5     531594 non-null  int64
 72  p5_27_6     531594 non-null  int64
 73  p5_27_7     531594 non-null  int64
 74  p5_27_8     531594 non-null  int64
 75  estrato     531594 non-null  int64
 76  factor      531594 non-null  int64
 77  upm_dis     531594 non-null  int64
 78  est_dis     531594 non-null  int64
 79  tloc        531594 non-null  int64
 80  sexo        531594 non-null  int64
 81  edad        531594 non-null  int64
dtypes: int64(82)
memory usage: 332.6 MB

In [75]:
data.shape

(531594, 82)

In [76]:
important_vars = [
    "p5_9_1", # hora comienzo
    "p5_9_2", # minuto comienzo
    "p5_10_1", # hora fin
    "p5_10_2", # minuto fin
    "p5_14_01",
    "p5_14_02",
    "p5_14_03",
    "p5_14_04",
    "p5_14_05",
    "p5_14_07",
    "p5_14_09",
    "p5_14_14",
    "p5_7_7",
    "p5_12_7",
    "p5_6",
    "p5_11a",
    "estrato",
]

data_clean = data[important_vars].copy()
data_clean.shape

(531594, 17)

In [77]:
data_clean["tiempo"] = (
    (data_clean["p5_10_1"] * 60 + data_clean["p5_10_2"]) -
    (data_clean["p5_9_1"] * 60 + data_clean["p5_9_2"])
)
# Para los que quedan en negativos (llegan el dia siguiente)
data_clean["tiempo"] = data_clean["tiempo"].where(data_clean["tiempo"] >= 0, data_clean["tiempo"] + 24*60)
data_clean = data_clean[data_clean["tiempo"] != 0]

In [78]:
data_clean.describe()

,p5_9_1,p5_9_2,p5_10_1,p5_10_2,p5_14_01,p5_14_02,p5_14_03,p5_14_04,p5_14_05,p5_14_07,p5_14_09,p5_14_14,p5_7_7,p5_12_7,p5_6,p5_11a,estrato,tiempo
count,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000
mean,12.500745,12.615376,13.072681,21.494848,1.788922,1.669128,1.994855,1.951407,1.873356,1.977519,1.989178,1.393892,12.239341,12.349533,3.026216,3.281720,2.532324,43.683543
std,4.680670,16.767081,4.702603,17.550733,0.408074,0.470527,0.071543,0.215015,0.332574,0.148241,0.103466,0.488612,5.559385,6.355961,3.554710,5.138568,0.709178,39.355372
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.000000,0.000000,9.000000,5.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,9.000000,9.000000,1.000000,1.000000,2.000000,15.000000
50%,12.000000,0.000000,13.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,13.000000,13.000000,2.000000,2.000000,2.000000,30.000000
75%,16.000000,30.000000,17.000000,35.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,15.000000,15.000000,5.000000,5.000000,3.000000,60.000000
max,23.000000,59.000000,23.000000,59.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,99.000000,99.000000,99.000000,4.000000,1290.000000

In [79]:
data_clean.drop(columns=["p5_9_1", "p5_9_2", "p5_10_1", "p5_10_2"], inplace=True)

In [80]:
mapa_columnas = {
    "p5_14_01": "auto",
    "p5_14_02": "colectivo",
    "p5_14_03": "uber_etc",
    "p5_14_04": "taxi",
    "p5_14_05": "metro",
    "p5_14_07": "bici",
    "p5_14_09": "moto",
    "p5_14_14": "caminar",
    "p5_7_7": "entidad_origen",
    "p5_12_7": "entidad_destino",
    "p5_6": "tipo_origen",
    "p5_11a": "tipo_destino"
}

data_clean = data_clean.rename(columns=mapa_columnas)

In [81]:
data_clean.head()

,auto,colectivo,uber_etc,taxi,metro,bici,moto,caminar,entidad_origen,entidad_destino,tipo_origen,tipo_destino,estrato,tiempo
0,2,2,2,2,2,2,2,1,9,9,1,3,3,60
1,2,2,2,2,2,2,2,1,9,9,3,1,3,90
2,2,2,2,2,2,2,2,1,9,9,1,7,3,5
3,2,2,2,1,2,2,2,2,9,9,7,1,3,5
4,2,2,2,2,2,2,2,1,9,9,1,3,3,60

In [82]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 531212 entries, 0 to 531593
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   auto             531212 non-null  int64
 1   colectivo        531212 non-null  int64
 2   uber_etc         531212 non-null  int64
 3   taxi             531212 non-null  int64
 4   metro            531212 non-null  int64
 5   bici             531212 non-null  int64
 6   moto             531212 non-null  int64
 7   caminar          531212 non-null  int64
 8   entidad_origen   531212 non-null  int64
 9   entidad_destino  531212 non-null  int64
 10  tipo_origen      531212 non-null  int64
 11  tipo_destino     531212 non-null  int64
 12  estrato          531212 non-null  int64
 13  tiempo           531212 non-null  int64
dtypes: int64(14)
memory usage: 60.8 MB

## Discretizar tiempo

In [83]:
data_clean.describe()

,auto,colectivo,uber_etc,taxi,metro,bici,moto,caminar,entidad_origen,entidad_destino,tipo_origen,tipo_destino,estrato,tiempo
count,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000,531212.000000
mean,1.788922,1.669128,1.994855,1.951407,1.873356,1.977519,1.989178,1.393892,12.239341,12.349533,3.026216,3.281720,2.532324,43.683543
std,0.408074,0.470527,0.071543,0.215015,0.332574,0.148241,0.103466,0.488612,5.559385,6.355961,3.554710,5.138568,0.709178,39.355372
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,9.000000,9.000000,1.000000,1.000000,2.000000,15.000000
50%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,13.000000,13.000000,2.000000,2.000000,2.000000,30.000000
75%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,15.000000,15.000000,5.000000,5.000000,3.000000,60.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,99.000000,99.000000,99.000000,99.000000,4.000000,1290.000000

Discretizacion por cuantiles con pd.qcut:

In [84]:
data_clean['tiempo_bin'] = pd.qcut(data_clean['tiempo'], q=10, labels=None, duplicates='drop')
print(data_clean['tiempo_bin'].cat.categories)

IntervalIndex([ (0.999, 10.0],   (10.0, 15.0],   (15.0, 20.0],   (20.0, 24.0],
                 (24.0, 30.0],   (30.0, 40.0],   (40.0, 60.0],   (60.0, 69.0],
                 (69.0, 95.0], (95.0, 1290.0]],
              dtype='interval[float64, right]')

In [85]:
data_clean['tiempo_bin'] = data_clean['tiempo_bin'].astype(str)
data_clean = data_clean.drop(columns=['tiempo'])
print(data_clean['tiempo_bin'].unique())

['(40.0, 60.0]' '(69.0, 95.0]' '(0.999, 10.0]' '(24.0, 30.0]'
 '(10.0, 15.0]' '(15.0, 20.0]' '(30.0, 40.0]' '(95.0, 1290.0]'
 '(60.0, 69.0]' '(20.0, 24.0]']

In [86]:
data_clean.head()

,auto,colectivo,uber_etc,taxi,metro,bici,moto,caminar,entidad_origen,entidad_destino,tipo_origen,tipo_destino,estrato,tiempo_bin
0,2,2,2,2,2,2,2,1,9,9,1,3,3,"(40.0, 60.0]"
1,2,2,2,2,2,2,2,1,9,9,3,1,3,"(69.0, 95.0]"
2,2,2,2,2,2,2,2,1,9,9,1,7,3,"(0.999, 10.0]"
3,2,2,2,1,2,2,2,2,9,9,7,1,3,"(0.999, 10.0]"
4,2,2,2,2,2,2,2,1,9,9,1,3,3,"(40.0, 60.0]"

In [87]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 531212 entries, 0 to 531593
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   auto             531212 non-null  int64
 1   colectivo        531212 non-null  int64
 2   uber_etc         531212 non-null  int64
 3   taxi             531212 non-null  int64
 4   metro            531212 non-null  int64
 5   bici             531212 non-null  int64
 6   moto             531212 non-null  int64
 7   caminar          531212 non-null  int64
 8   entidad_origen   531212 non-null  int64
 9   entidad_destino  531212 non-null  int64
 10  tipo_origen      531212 non-null  int64
 11  tipo_destino     531212 non-null  int64
 12  estrato          531212 non-null  int64
 13  tiempo_bin       531212 non-null  object
dtypes: int64(13), object(1)
memory usage: 60.8+ MB

In [88]:
data_clean.to_csv("../data/tviaje_clean.csv", index=False)